body {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

h1 {
    color: royalblue;
}

.profile-image {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
}

a:hover {
    color: aqua;
    font-weight: bolder;
}

footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 0;
}

input {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type=button] {
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
}